.result-filter{
    margin-top: 1.1em;
    margin-left: 1em;
}

.result-filter a{
    color: white;
    margin-left: 1em;
}

.result-filter a:link {
    text-decoration: none;
}
  
.result-filter a:visited {
    text-decoration: none;
}
  
.result-filter a:hover {
    text-decoration: underline;
    text-underline-offset: 1.17em;
    text-decoration-color: #F65261;
    text-decoration-thickness: 0.25em;
}
  
.result-filter a:active {
    text-decoration: underline;
}

.result-sort {
    margin-top: 1em;
    margin-left: 1em;
}

.result-sort label{
    color: gray;
    margin-right: 1em;
}
  
.result-sort select{
    background: transparent;
    color: white;
    width: 11em;
    padding: 0.37em;
    border: none;
    outline: none;    
}
