@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

* {
    box-sizing: border-box;
    font-family: Montserrat;
}

*:focus {
    outline: none;
}

.error {
    text-align: center;
}

header{
    background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('../static/images/header-background.png');
    background-position:center top;
    width: 100%;
    height: 26em;
}

.header-logo{
    position: relative;
    left: 4em;
    bottom: 4em;
    /* margin-bottom: -24px; */
    color: #F65261;
    font-size: 1.2em;
}

.add-movie-btn{
    position: relative;
    left: 53em;
    bottom: 6.5em;
    background-color: rgba(124, 122, 122, 0.4);
    color: #F65261;
    border: none;
    font-size: 1.08em;
    padding: 1.2em;
}

.search-form {
    position: relative;
    top:8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form form {
    display: flex;
    flex-direction: column;
}

.search-form form label{
    color: white;
    font-size: 2.5em;
}

.search-input {
    border: 1px solid rgba(50, 50, 50, 0.8);
    border-radius: 2px;
    background-color: rgba(50, 50, 50, 0.5);
    color: rgba(134, 134, 134, 0.8);
    height: 3.1em;
    width: 50em;
    font-size: 1em;
    margin-top: 2.5em;
    margin-right: 1em;
    text-indent: 1em;
}

.search-btn{
    background-color: #F65261;
    color: white;
    width: 11em;
    height: 3.7em;
    border: none;
}

.search-btn:hover, .add-movie-btn:hover, .search-input:hover, select:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

main {
    background-color: rgba(50, 50, 50);
}

.result {
    display: flex;
    column-gap: 20em;
    padding-bottom: 0.74em;
    border-bottom: rgb(24, 24, 24);;
    border-bottom-style: solid;
    border-bottom-width: 0.25em;
    margin-left: 0.8em;
    margin-right: 0.8em;
    font-size: 1.02em;
}

.result-filter{
    margin-top: 1.1em;
    margin-left: 1em;
}

.result-filter a{
    color: white;
    margin-left: 1em;
}

.result-filter a:link {
    text-decoration: none;
}
  
.result-filter a:visited {
    text-decoration: none;
}
  
.result-filter a:hover {
    text-decoration: underline;
    text-underline-offset: 1.17em;
    text-decoration-color: #F65261;
    text-decoration-thickness: 0.25em;
}
  
.result-filter a:active {
    text-decoration: underline;
}

.result-sort {
    margin-top: 1em;
    margin-left: 1em;
}

.result-sort label{
    color: gray;
    margin-right: 1em;
}
  
.result-sort select{
    background: transparent;
    color: white;
    width: 11em;
    padding: 0.37em;
    border: none;
    outline: none;    
}

.result-sort option {
    background-color: rgba(50, 50, 50);
    color: white;
    border: none;
    outline: none;
}

.movies{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3em;
    align-items: center;
    justify-content: center;
}

.movie-card{
    color: rgb(207, 207, 207);
    margin-bottom: 2em;
    width: 20em;
}
.movie-card-info{
    margin-top: 1em;
}

.movie-card-genres{
    font-size: 0.8em;
}

.movie-card-year{
    position: relative;
    left: 16.9em;
    top: -2em;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;
    width: min-content;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: #F65261;
    background-color: #424242;
}
